<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="consumerKey" value="ojSeEOgVMc5P27yXczGj39Lj7"/>
    <add key="consumerSecret" value="9ibPnh5fxQ0pONqilALgygG1sh0tcXL9uGEXgvMymDQYzz9J2G"/>
    <add key="accessToken" value="844016983280680961-0HwUhbIg3XX34H2uVDfV1vMOVbXZYaW"/>
    <add key="accessTokenSecret" value="IvsmPY8Fup9nM7J5JK8AluTiHDS7AfQLCQSGrq7typZ2x"/>
  </appSettings>  
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>